<div class="container">
    <div class="row">
        <div class="col-lg text-center">
            <img src="/imgs/4ADCCCA7-DC49-4264-A786-F20E940A47B9.jpeg" class="img-fluid" alt="Angie and the boys" />
            <h2 class="h3">In Loving Memory</h2>
            <h1>Angie Zacal</h1>
            <p>01/09/1953 - 06/26/2021</p>

        </div>
    </div>
    <div class="row justify-content-center text-justify">
        <div class="col-md-6 col-lg-4">
            <p>Angie Zacal, wife, mama, sister, friend, passed away on June 26th, 2021 after battling cancer. Her funeral will be kept small with her husband and sons as witnesses. In lieu of flowers, you can make a donation to help pay for her funeral.</p>
        </div>
    </div>
</div>
<hr />