<div class="container">
    <div class="row">
        <div class="col-lg text-center">
            <img src="/imgs/4ADCCCA7-DC49-4264-A786-F20E940A47B9.jpeg" class="d-block w-100" alt="Angie and the boys" />
            <h2>In Loving Memory</h2>
            <h1>Angie Zacal</h1>
            <p>01/09/1953 - 06/26/2021</p>
        </div>
    </div>
</div>