<div class="container section">
    <div class="row">
        <div class="col-md-5 col-lg-3">
            <img src="/imgs/IMG_51CD4E1E4D61-1.jpeg" class="w-100" alt="caldereta">
        </div>
        <div class="col-md-7 col-lg-9">
            <h2 class="text-center">Mom's Calderetta</h2>
            <p>She was fond of cooking and often showed love through her food. She was eager to share which dish was who's favorite. <span class="h2">🤣</span></p>
        </div>
    </div>
</div>