<div class="container section">
    <div class="row">
        <div class="col-12 text-center">
            <p>Thank you for your kindness and support. </p>
            <p class="h2"><em>That's all folks!</em> ❤️</p>
        </div>
    </div>
</div>