<div class="container section">
    <h2 class="text-center">Retirement at the Beach</h2>
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <p>After retiring, she enjoyed spending time with Manny at Bluff Park in Long Beach, CA. They spent many afternoons picnicing. (mostly Chinese takeout)</p>
            <figure class="figure">
                <img src="/imgs/min/bluff_park.jpg" class="figure-img img-fluid rounded" alt="bluff park long beach">
                <figcaption class="figure-caption">Bluff Park, Long Beach, CA</figcaption>
            </figure>
        </div>
    </div><hr />
    <div class="row section">
        <div class="col-12 text-center">
            <p>She battled cancer with the help of the care team at Long Beach Memorial Medical Center. Manny came to see and be with her every day.</p>
            <p>On June 26, 2021, she passed away peacefully with family at her side.</p>
            <Gofundme />
            <p>Thank you for your kindness and support. </p>
            <p class="h2"><em>That's all folks!</em> ❤️</p>
        </div>
    </div>
</div>
