<div class="container section">
    <h2 class="text-center">Family is everything</h2>
    <div class="row justify-content-center">
    <p>She cherished being the times she shared with family.</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="/imgs/640819A6-8DFA-4B81-B26A-853329BE32EA.jpeg" class="d-block w-100" alt="Angie and Manny">
        </div>
        <div class="col-sm-6">
            <img src="/imgs/9743B17F-E5AF-4949-877A-1856E883619B.jpeg" class="d-block w-100" alt="Angie and Manny">
        </div>
    </div>
</div>