<div class="container section">
    <h2 class="text-center">Family is everything</h2>
    <div class="row justify-content-center">
    <p>She didn't go out much with acquaintances, but she cherished the times she shared with family.</p>    
    </div>
    <div class="row">
        <div class="col-sm-6">
            <figure class="figure">
                <img src="/imgs/640819A6-8DFA-4B81-B26A-853329BE32EA.jpeg" class="figure-img img-fluid rounded" alt="Angie and her siblings during a christmas party">
                <figcaption class="figure-caption">Angie and her siblings celebrate Christmas together</figcaption>
            </figure>
        </div>
        <div class="col-sm-6">
            <figure class="figure">
                <img src="/imgs/9743B17F-E5AF-4949-877A-1856E883619B.jpeg" class="figure-img img-fluid rounded" alt="Christmas party at Tanja's">
                <figcaption class="figure-caption">Christmas Party at Tanja's<br />December 25, 2018</figcaption>
            </figure>
        </div>
    </div>
</div>