<div class="container section">
    <h2 class="text-center">Angie, Manny, and the boys</h2>
    <div class="row">
        <div class="col-sm-6">
            <p>Angie and Manny were together 46 years and raised 4 boys.</p>
            <p>They met while working together for a mining company in Nonoc Island.</p>
            <div class="alert alert-dark" role="alert">
                <p>If you're like me, you might not believe that "Nonoc Island" is a real place. I googled it.</p>
                <hr />
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125803.50564166512!2d125.58806747783335!3d9.820138355456484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33014b3d634c85e5%3A0x3bec1f39fffed746!2sNonoc%20Island!5e0!3m2!1sen!2sus!4v1625179809129!5m2!1sen!2sus"
                    width="auto" height="auto" style="border:0; width: 100% !important" allowfullscreen=""
                    loading="lazy">
                </iframe>
            </div>
            <p>They were married at Cebu City Hall, but later again at Archbishop Palace in Cebu City, Philippines. September 1, 1975. They ate pancit.</p>
            <figure>
                <img src="/imgs/min/archbishop_palace@0.5x.jpg" class="figure-img img-fluid rounded w-100" alt="Archbishop Palace">
                <figcaption class="figure-caption">Archbishop Palace, Cebu, Philippines</figcaption>
            </figure>
            <p>They built a life together in Cebu with four boys (Jeffrey, Jonathan, Jan Immanuel, and Justin) moving from apartment to apartment until they built a house from scratch.</p>
            <p>She worked as a chemistry teacher at <a href="https://en.wikipedia.org/wiki/University_of_San_Carlos" target="_blank">San Carlos University.</a></p>
            <p>Manny and Angie moved to California and eventually brought all their children with them. She worked tirelessly to help those in need as a caregiver.</p>
            <p>After a year in the U.S., She, along with Manny and Jonathan, become homeowners together in Long Beach.</p>
        </div>
        <div class="col-sm-6">
            <figure class="figure">
                <img src="/imgs/min/santa_ana_courthouse@0.5x.jpg" class="figure-img img-fluid rounded w-100" alt="Angie and Manny">
                <figcaption class="figure-caption">Angie and Manny attend the marriage of Chino and Allie at the Santa Ana Courthouse.<br />December 30, 2016</figcaption>
            </figure>
            <figure>
                <img src="/imgs/min/bucca_di_bepo@0.5x.jpg" class="figure-img img-fluid rounded w-100" alt="Bucca Di Bepo"/>
                <figcaption class="figure-caption">Jonathan and Jeffrey's birthday at Bucca Di Bepo.</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <figure>
                <img src="/imgs/min/family_picture.jpg" class="figure-img img-fluid rounded w-100" alt="Angie and the boiz"/>
                <figcaption class="figure-caption">Angie and the boys at Chino and Allie's wedding<br />December 30, 2016</figcaption>
            </figure>
        </div>
    </div>
</div>
