<div class="container section">
    <div class="row">
        <div class="col-sm-6">
            <h2>Angie and Manny</h2>
            <p>46 years together</p>
            <p>They worked together for a mining company in Nonoc Island</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125803.50564166512!2d125.58806747783335!3d9.820138355456484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33014b3d634c85e5%3A0x3bec1f39fffed746!2sNonoc%20Island!5e0!3m2!1sen!2sus!4v1625179809129!5m2!1sen!2sus" 
                width="auto" height="auto" 
                style="border:0; width: 100% !important" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-sm-6">
            <img src="/imgs/16553B27-D9E8-467D-8B1A-3D414084759E.jpeg" class="d-block w-100" alt="Angie and Manny">
        </div>
    </div>
</div>
