<div class="container section">
    <div class="row">
        <div class="col-sm-8">
            <img src="/imgs/640819A6-8DFA-4B81-B26A-853329BE32EA.jpeg" class="d-block w-100" alt="Angie and Manny">
        </div>
        <div class="col-sm-4">
            Something about the family. Maybe name all of her siblings.
        </div>
    </div>
</div>